.genreList{
    /*background-color: #F65261*/
}

.label {
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
    text-transform: none;
}
