.filter_container{
    display: flex;
    justify-content: space-between;
    margin-left: 44px;
    margin-top: 20px;
}

.filter_item{
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color:#ffffff;
    margin: 15px;
    align-self: center;
}

.item_opacity{
    opacity:0.6;
}

.filter_item.non_sort:hover{
    transform: scale(1.1);
    transition: 0.4s;
    cursor: pointer;
}