.modal {
    height: 1950px;
    width: 1200px;
    background: rgba(35, 35, 35, 0.918051);
    mix-blend-mode: normal;
    /*backdrop-filter: blur(25px);*/
    position: absolute;
    display: flex;
    justify-content: center;
    transform: scale(1);
    transition:0.5s;
}

.modal_add.active, .modal.active,.modal_edit.active {
    transform: scale(0);
}
